.form, .wrapper {
  display: flex;
}

.wrapper {
  padding: 10px 0 0 30px;
}

.side-bar {
  width: 20vw;
}

.budgets-edit-submit {
  margin-bottom: 100px;
}

.text-bottom {
  margin-bottom: 30px;
}

.form-submit, .battle-form, .calendar, .form-bottom, .text-semi-bottom {
  margin-bottom: 20px;
}

.links {
  display: flex;
}

.link {
  padding-top: 10px;
  margin-right: 30px;
}

.space {
  border: 1px solid white;
  height: 40vh;
  width: 95%;
  padding: 4px;
  margin-top: 30px;
}

.email-send-form {
  margin: 70px 0 10px 0;
}

.error-message {
  margin-top: 10px;
}

.main {
  width: 40vw;
}

.mammon-image {
  width: 80%;
  height: 40%;
}

.mammon-data {
  width: 95%;
  padding-left: 70px;
}

.game-clear-image {
  height: 80%;
  width: 80%;
}

.game-over-image {
  height: 100%;
  width: 100%;
}

.message-board {
  border: 1px solid white;
  height: 95vh;
  width: 35vw;
  padding: 4px;
  overflow: scroll;
}

.damage {
  margin-bottom: 50px;
}

.gameover-image {
  margin: 0 0 0 90px;
}

.chear-image {
  margin: 0 0 0 90px;
}

.field_with_errors {
  display: contents;
}

* {
  color: white;
  background-color: black;
}