.form, .wrapper {
  display: flex;
}

.wrapper {
  padding: 10px 0 0 30px;
}

.side-bar {
  width: 20vw;
}

.text-bottom {
  margin-bottom: 30px;
}

.form-submit, .battle-form, .calendar {
  margin-bottom: 20px;
}

.link {
  padding-top: 10px;
}

.main {
  width: 40vw;
}

.message-board {
  height: 100vh;
  width: 40vw;
  overflow: scroll;
}

.damage {
  margin-bottom: 50px;
}

.gameover-image {
  margin: 0 0 0 90px;
}

.chear-image {
  margin: 0 0 0 90px;
}

* {
  color: white;
  background-color: black;
}