.form, .wrapper {
  display: flex;
}

.wrapper {
  padding: 10px 0 0 30px;
}

.side-bar {
  width: 20vw;
}

.text-semi-bottom {
  margin-bottom: 20px;
}

.text-bottom {
  margin-bottom: 30px;
}

.form-submit, .battle-form, .calendar, .form-bottom {
  margin-bottom: 20px;
}

.link {
  padding-top: 10px;
}

.space {
  border: 1px solid white;
  height: 40vh;
  width: 95%;
  padding: 4px;
}

.main {
  width: 40vw;
}

.mammon-data {
  width: 95%;
  padding-left: 70px;
}

.message-board {
  border: 1px solid white;
  height: 95vh;
  width: 35vw;
  padding: 4px;
  overflow: scroll;
}

.damage {
  margin-bottom: 50px;
}

.gameover-image {
  margin: 0 0 0 90px;
}

.chear-image {
  margin: 0 0 0 90px;
}

* {
  color: white;
  background-color: black;
}